// SHADOW
$box-shadow-for-navigation: 0px 20px 60px -24px rgba(0, 0, 0, 0.4);
$box-shadow-for-blog-pictures: 0 10px 80px 0 rgba(0, 0, 0, 0.2);
$box-shadow-for-blog-pictures-on-hover: 0px 15px 80px 2px rgba(0, 0, 0, 0.3);
$hover-on-nav: #151f28bd;

/// MAX-WIDTH
$max-width-in-percentage: 92%;
$max-width: 175rem;
$max-width-in-view-height: 88vw;
$max-width-in-pixels: 1750px;
$max-width-for-blog-section: 1250px;

$padding: 0 4.3vw;

$moble-padding: 0 7.3vw;
$margin: 25rem 0rem 25rem 0rem;