/// ====================== EINA

@font-face {
  font-family: "paragraph-light";
  src: url("/fonts/Eina/Eina-01-Light.otf");
}

@font-face {
  font-family: "paragraph-regular";
  src: url("/fonts/Eina/Eina03-Regular.otf");
}

@font-face {
  font-family: "paragraph-bold";
  src: url("/fonts/Eina/eina-03-semibold.otf");
}

/// ====================== Sailec

// @font-face {
//   font-family: "paragraph-black";
//   src: url('/fonts/Seilec/Sailec-Medium.otf');
// }

@font-face {
  font-family: "heading-big-black";
  src: url("/fonts/Seilec/Sailec-Black.otf");
}

@font-face {
  font-family: "heading-big-bold";
  src: url("/fonts/Seilec/sailec_bold.otf");
}

@font-face {
  font-family: "heading-medium-smallest";
  src: url("/fonts/Seilec/Sailec-Medium.otf");
}

@font-face {
  font-family: "heading-regular";
  src: url("/fonts/Seilec/Sailec.otf");
}


/// ====================== Noto

@font-face {
  font-family: "georgian-heading-regular";
  src: url("/fonts/Noto/NotoSansGeorgian-Regular.ttf");
}
@font-face {
  font-family: "georgian-heading-bold";
  src: url("/fonts/Noto/NotoSansGeorgian-Bold.ttf");
}
@font-face {
  font-family: "georgian-heading-light";
  src: url("/fonts/Noto/NotoSansGeorgian-Light.ttf");
}
@font-face {
  font-family: "georgian-heading-medium";
  src: url("/fonts/Noto/NotoSansGeorgian-Medium.ttf");
}
@font-face {
  font-family: "georgian-heading-black";
  src: url("/fonts/Noto/NotoSansGeorgian-Black.ttf");
}
